{% extends 'base.jinja2' %}

{% block title %}Ошибка при оценивании{% endblock %}

{% block breadcrumbs %}
    <div class="col s12">
        <a href="/" class="breadcrumb">Главная</a>
        <a href="/students/" class="breadcrumb">Студенты</a>
        <a href="/students/{{ student.id }}" class="breadcrumb">{{ student.name | e }}</a>
        <a href="#" class="breadcrumb">Оценка</a>
    </div>
{% endblock %}

{% block content %}
    <h2>Ошибка</h2>
    {% for fieldname, errors in errors.items() %}
        <p>{{ fieldname }}: {{ errors }}</p>
    {% endfor %}
    <img class="responsive-img" src="//http.cat/400"/>
{% endblock %}

{% block aside %}
    <div class="collection">
        <a class="collection-item" href="/students/{{ student.id }}">
            Вернуться к студенту {{ student.name }}
        </a>
        <a class="collection-item" href="/courses/{{ course.id }}">
            Вернуться к курсу {{ course.name }}
        </a>
    </div>
{% endblock %}
